<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dm.login.dao.UserOauthDao">
    <resultMap id="BaseMap" type="com.dm.login.bean.UserOauth">
        <result property="id" column="id" />
        <result property="name" column="name" />
        <result property="appId" column="app_id" />
        <result property="appKey" column="app_key" />
        <result property="code" column="code" />
    </resultMap>

    <sql id="BaseColumns">
        id,name,app_id,app_key,code
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseMap" parameterType="java.lang.Integer">
        select
        <include refid="BaseColumns"/>
        from user_oauth
        <where>
            id = #{id}
        </where>
    </select>

    <select id="list" resultMap="BaseMap" parameterType="com.dm.login.bean.UserOauth">
        select
        <include refid="BaseColumns"/>
        from user_oauth
    </select>

    <insert id="insert" parameterType="com.dm.login.bean.UserOauth" keyProperty="id" useGeneratedKeys="true">
        insert into user_oauth
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="appId != null">
                app_id,
            </if>
            <if test="appKey != null">
                app_key,
            </if>
            <if test="code != null">
                code,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null">
                #{id},
            </if>
            <if test="name != null">
                #{name},
            </if>
            <if test="appId != null">
                #{appId},
            </if>
            <if test="appKey != null">
                #{appKey},
            </if>
            <if test="code != null">
                #{code},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.dm.login.bean.UserOauth">
        update user_oauth
        <set>
            <if test="id != null">
                id = #{id},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="appId != null">
                app_id = #{appId},
            </if>
            <if test="appKey != null">
                app_key = #{appKey},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update user_oauth set is_delete = 2
        <where>
            id = #{id}
        </where>
    </update>
</mapper>