<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dm.login.dao.UserRoleDao">
    <resultMap id="BaseMap" type="com.dm.login.bean.UserRole">
        <result property="uid" column="uid" />
        <result property="roleId" column="role_id" />
    </resultMap>

    <sql id="BaseColumns">
        uid,role_id
    </sql>

    <select id="selectByPrimaryKey" resultMap="BaseMap" parameterType="java.lang.Integer">
        select
        <include refid="BaseColumns"/>
        from user_role
        <where>
            id = #{id}
        </where>
    </select>

    <select id="list" resultMap="BaseMap" parameterType="com.dm.login.bean.UserRole">
        select
        <include refid="BaseColumns"/>
        from user_role
    </select>

    <insert id="insert" parameterType="com.dm.login.bean.UserRole" keyProperty="id" useGeneratedKeys="true">
        insert into user_role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null">
                uid,
            </if>
            <if test="roleId != null">
                role_id,
            </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="uid != null">
                #{uid},
            </if>
            <if test="roleId != null">
                #{roleId},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.dm.login.bean.UserRole">
        update user_role
        <set>
            <if test="uid != null">
                uid = #{uid},
            </if>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
        </set>
        where id = #{id}
    </update>

    <update id="delete" parameterType="java.lang.Integer">
        update user_role set is_delete = 2
        <where>
            id = #{id}
        </where>
    </update>
</mapper>